* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* styling navbar */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
}

.logo img {
    width: 150px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-weight: bold;
    font-size: 30px;
    color: #ff0000;
    font-family: "Jura", sans-serif;
}

.navlinks ul {
    display: flex;
    padding-left: 400px;
    padding-top: 65px;
    gap: 90px;

}

.navlinks ul a {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    font-family: "Jura", sans-serif;
}

.navlinks ul a:hover {
    color: #ffffff;
    background-color: #f56c6c;
    padding: 15px;
    border-radius: 8px;
}

.bx {
    font-size: 30px;
}


/* Styling rice dishes */


.menuhead {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    color: #ff0000;
    font-family: "Jura", sans-serif;
    font-size: 30px;
}

.riceimages img {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.content {
    display: flex;
    padding-left: 90px;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

h5 {
    margin-top: 10px;
    font-size: 20px;
    font-family: "Jura", sans-serif;
    color: #ff0000;
}

p {
    font-size: 20px;
}

button {
    border-radius: 8px;
    background-color: #ff0000;
    padding: 10px;
    border: none;
    font-family: "Jura", sans-serif;
}

button a {
    color: white;
    font-weight: bold;
}

button:hover {
    background-color:  black;
}

.riceimages {
    padding-left: 70px;
    margin: 10px;
    text-align: center;
    gap: 20px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); */
    grid-template-columns: repeat(3, 2fr);
}

.rice {
    width: 350px;
    height: 400px;
    box-shadow: 0 5px 15px;
    border-radius: 15px;  
}

body {
  background: #f5f5f5;
  
}


/* Styling Soup dishes  */


.soupimages img {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 8px;
}


.soup {
    width: 350px;
    height: 400px;
    box-shadow: 0 5px 15px;
    border-radius: 15px;  
}

.soupimages {
    padding-left: 70px;
    margin: 10px;
    gap: 20px;
    text-align: center;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); */
    grid-template-columns: repeat(3, 1fr);
}


/* Styling drinks */


.drink {
    width: 350px;
    height: 400px;
    box-shadow: 0 5px 15px;
    border-radius: 15px; 
}


.drinkimages {
    padding-left: 70px;
    margin: 10px;
    gap: 20px;
    text-align: center;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); */
    grid-template-columns: repeat(3, 1fr);
}


.drinkimages img {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 8px;
}


/* styling pastries */

.pastries {
    width: 350px;
    height: 400px;
    box-shadow: 0 5px 15px;
    border-radius: 15px; 
}


.pastriesimages {
    padding-left: 70px;
    margin: 10px;
    gap: 20px;
    text-align: center;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); */
    grid-template-columns: repeat(3, 1fr);
}


.pastriesimages img {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

/* footer styling */

.footer {
    display: flex;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 50px;
}

.footer h2 {
    color: #ff0202;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.footerlinks p {
    color: #ff0000;
    font-size: 20px;
}

.footerlogo img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.footerlogo h2 {
    color: #ff0000;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footerlogo p {
    font-size: 20px;
    color: #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.socials ul {
    display: flex;
    gap: 20px;
}

.footerlinks {
    display: flex;
    gap: 150px;
    padding-left: 60px;
    margin-top: 60px;
}

.quicknav a {
    color: #ff0000;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.quicknav ul li {
    margin-bottom: 20px;
}


/* theme toggle */

#themeToggle {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}


:root {
  --bg-color: white;
  --text-color: #000000;
  --nav-color: #ffffff;
  --card-color: #ffffff;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  --nav-color: #1f1f1f;
  --card-color: #1e1e1e;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

nav {
  background: var(--nav-color);

}

p, h1, h2, h3, h4, h5, h6, span, a, li {
  color: var(--text-color);
}

.card {
  background: var(--card-color);
}